<form method="post" class="create-workspace-form">
  <fieldset class="create-workspace-fieldset">
    <legend class="scheduler-border">Create a new workspace</legend>
    <div class="form-group">
      <label for="workspace-name">Workspace Name</label>
      <input class="form-control" id="WorkspaceName" name="WorkspaceName" placeholder="Enter workspace name">
    </div>
    <div class="form-group form-check custom-checkbox">
      <input type="checkbox" id="AddContent" name="AddContent" class="form-check-input btn-secondary" checked="checked">
      <label class="form-check-label" for="AddContent">Add Sample Content to Workspace</label>
    </div>
    <div class="form-group">
      <button id="create-workspace-button" type="submit" class="btn">Create workspace</button>
    </div>
  </fieldset>
</form>

